* {
  font-family: sans-serif;

}

h1, h2, h3, h4 {
  padding-top: 20px;
  clear: both;
}

span {
 color: green;
}

ol {
  padding-top: 10px;
}

li {
  font-size: 1em;
  padding-bottom: 5px;
}

a[ui-sref] {
  cursor: pointer;
  margin-right: 10px;
}
